.header {
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding-right: 20px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.upload-icon,
.youtube-apps-icon,
.notifications-icon {
  width: 24px;
  height: 24px;
}

.tooltip {
  font-family: Roboto, Arial;

  position: absolute;

  background-color: gray;
  color: white;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;

  border-radius: 2px;

  font-size: 12px;

  bottom: -30px;

  opacity: 0;

  transition: opacity 0.15s;

  pointer-events: none;

  white-space: nowrap;
}

.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}